// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//
// *************************************

body {
  background: $base-background;
  color: $base-color;
  font-family: $base-fontFamily;
  line-height: $base-lineHeight;
}

// -------------------------------------
//   Block Content
// -------------------------------------

p {
  font-size: $base-fontSize;
}

// -------------------------------------
//   Inline Content
// -------------------------------------

a {
  @include transition-property(opacity);
  @include transition-duration(100ms);
  @include transition-timing-function(linear);

  color: $base-link-color;
  text-decoration: underline;

  &:hover, &:focus {
    opacity: 0.8;
  }
}
